<div class="card mb-4 shadow-sm h-100 fade-in">
    <img src="{{productItem.pictureUrl}}" alt="" class="img-responsive" routerLink="/shop/Product/{{productItem.id}}">
    <div class="card-body">
        <a class="title-shop"><h2 class="text-uppercase1 " routerLink="/shop/Product/{{productItem.id}}">{{productItem.name}}</h2></a>
        <p class="card-text">
           {{productItem.dsecription}}
        </p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn fa fa-shopping-cart btn-outline-secondary">
                    
                </button>
                <button type="button" class="btn btn-sm btn-outline-secondary" routerLink="/shop/Product/{{productItem.id}}">
                    View
                </button>
            </div>
            <small class="text-muted custom-price"><strong>{{productItem.price | currency}}</strong></small>
        </div>

    </div>




</div>
